<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TC5D5DX');</script>
    <!-- End Google Tag Manager -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC5D5DX"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/users">Go to Users Page</a>
<ul>
    <li>
        <a href="http://35.166.70.111:3001/">
            Referral Link to Louis' Site
        </a>
    </li>
    <li>
        <a href="http://35.166.70.111:3001/?utm_source=louis_referral&utm_campaign=2017_springTestCampaign1&utm_medium=referral&utm_term=testCampaignTerm1&utm_content=testCampaignContent1">
            Test Campaign 1
        </a>
    </li>
    <li>
        <a href="http://35.166.70.111:3001/?utm_source=louis_referral&utm_campaign=2017_springTestCampaign2&utm_medium=referral&utm_term=testCampaignTerm2&utm_content=testCampaignContent2">
            Test Campaign 2
        </a>
    </li>
</ul>

</body>
</html>
